
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-md-4">
            <h3 class="text-center my-3">Topics</h3>
            <ul>
                <li><a routerLink="if-else">if else</a></li>
                <li><a routerLink="btnclickfunction">Button Click function Observable</a></li>
                <li><a routerLink="stringinterpropbinding">String-inter Prop-Binding TwoWayBinding</a></li>
                <li><a routerLink="swicthcase">Switch Case</a></li>
                <li><a routerLink="directives">Directives</a></li>
                <li><a routerLink="pipes">Pipes</a></li>
                <li><a routerLink="ngforexample">ngFor</a></li>
                <li><a routerLink="formexample">Form in Angular</a></li>
                <li><a routerLink="getapiexample">get API</a></li>
            </ul>
            
        </div>
        
        <div class="col-md-8 my-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

