<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-header text-center">
                    Login
                </div>
                <div class="card-body">
                    <div class="row my-3">
                        <div class="col">
                            <input type="text" placeholder="Enter User Name" class="form-control" name="username" id="username" [(ngModel)]="userName">
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col">
                            <input type="password" [(ngModel)]="password" placeholder="Enter Password" class="form-control" name="password" id="password">
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col text-center">
                            <input type="button" class="btn btn-primary" (click)="loginBtnClick()" name="save" value="Login" id="save"> &nbsp;
                            <input type="button" class="btn btn-danger" name="reset" value="Cancel" id="reset">
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col text-center">
                            <a class="nav-link" routerLink="/registration">Create new account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>